#header .top {
    height: 28px;
    background-color: #101010;
    line-height: 28px;
    text-indent: 5px;
}
#header .top img {
    width: 200px;
    height: 112px;
}
#header .top a {
    color: #e6e6e6;
}
#header .top .loginbox {
    color: #bfbfbf;
}
#header .top .loginbox a{
    color:#ff6600;
}
/* 搜索框 */
.searchbox {
    width: 440px;
	height: 36px;
    border: solid 2px #ff6600;
    margin-top: 4px;
    margin-left: 315px;
}
.searchbox .btn{
    display: inline-block;
    width: 50px;
    background: url(../images/bgicon.png) no-repeat;
    vertical-align: middle;
}
.text,.btn {
    width: 390px;
    height: 36px;
    border: none;
    float: left;
    outline: none;
    text-indent: 10px;
}
.text {
    line-height: 36px;
}
.btn {
    width: 50px;
	height: 36px;
}
/* 购物车按钮 */
.shop a{
    width: 100px;
    height: 36px;
    float: left;
    background: #ccc;
    text-align: center;
    line-height: 36px;
    color: #808080;
}

.shop .shop-car{
    background: #f60 url(../images/bgicon.png)no-repeat 0px -42px;
    color: #fff;
    padding-left: 18px;
    width: 88px;
}
/* 导航 */
.menu{
    float: left;
    margin: -20px 0 0 200px;
    width: 1000px;
}
.nav li{
    float:left;
    margin:0 17px;
}
.nav li a{
    display: block;
    color:#323232;
}

/* binner */
 #binner {
    height: 500px;
} 
#binner .ltc {
    color: #1a1a1a;
    background-color: #ccc;
    width: 200px;
    height: 430px;
    position: relative;
}
#binner .ltc li {
    line-height: 28px;
    text-indent: 20px;
}
#binner .ltc li a{
    color: #333333;
}
#banner .ltc li p{
    border: solid 1px transparent;   
    padding-left: 20px;
}
#binner .ltc li .develop {
    position: absolute;
    left: 199px;
    top: -1px;
    width: 490px;
    height: 500px;
    background-color: #fff;
    display: none;
    border: 1px solid #f60;
    z-index: 101;
}
#binner .ltc li .develop li h2 {
    color: #f60;
    border-bottom: 2px solid #e6e6e6;
}
#binner .ltc li .develop li p{
    width: 490px;
}

#binner .ltc li:hover .develop{
    display: block;
}
#binner .ltc li:hover p {
    background-color: #fff;
    border-color: #f60;
    border-right:0 ;
    width: 202px;
    position: relative;
    z-index: 2000;
}
/* 领券中心 */
#coupon .QR {
    width: 140px;
    height: 180px;
    position: fixed;
    top: 200px;
    right: 0;
}
#coupon .QR .cpn1 {
    position: absolute;
    top: 2px;
    right: 0;
    width: 38px;
    height: 38px;
    background: url(../images/two_30.jpg);
}

#coupon .QR .cpn2 {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    display: none;
    background: url(../images/two_34.jpg);
}

#coupon .QR .cpn3 {
    position: absolute;
    top: 40px;
    right: 0;
    width: 40px;
    height: 100px;
    background: url(../images/two_35.jpg);
}
#coupon .QR .cpn4 {
    position: absolute;
    top: 140px;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(../images/two_40.jpg);
}

/* 今日推荐 */
#recommend h2{
    font-size: 28px;
    color: #ff6600;
    border-bottom: 6px solid #ff6600;
}
#recommend ul {
    width: 100%;    
    
}
#recommend ul li {
    border: 1px solid #ff6600;
    width: 196px; 
    height: 240px;
    float: left;
    border-top: 0;
}

#recommend ul li .pic1 {
    text-align: center;
}

/* 图书 */
#ebook .book {
    width: 904px;
    /* height: 40px; */
    margin-top: 44px;
    border-bottom: 6px solid #ff6600;
}
#ebook .book ul {
    margin-top: 6px;
}
#ebook .book ul li {
    width: 100px;
    line-height: 34px;
    cursor: pointer;
    
}
#ebook .book ul li.active {
    background-color: #f60;
    color: #fff;
}
/* 左边 */
#ebook .leftbox {
    width: 238px;
    height: 441px;
    background-color: #eee;
}

#ebook .leftbox ul {
    width: 238px;
    height: 150px;
}
#ebook .leftbox ul li {
    float: left;
    width: 70px;
    height: 30px;
    padding: 4px;
    line-height: 30px;
}
#ebook .leftbox ul li a {
    color: #333;
}
/* 中轮播 */
#ebook .ebookProList{
    width: 660px;
    border-left: 1px solid #ccc;
    display: none;
}
#ebook .ebookProList.cur{
    display: block;
}
#ebook .ebookProList > li{
    float: left;
    width: 165px;
    height: 220px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    margin: 0;
}
#ebook .ebookProList > li:first-child{
    width: 330px;
}

#ebook .middle {
    width: 665px;
    height: 438px;
}
#ebook .middle ul li {
    width: 163px;
    height: 220px;
    float: left;
    border: 1px solid #ccc;
    border-top: 0;

}

#ebook .middle ul li p{
    font-size: 18px;
    color: #f91616;
    margin-bottom: 0;
    margin-top: 15px;
}
 #ebook .middle ul li .p1 {
    color: #333333;
 } 
 #ebook .middle ul li .p2 {
    font-size: 14px;
    margin-top: 2px;
 }

#ebook .middle ul li span {
    color: #b3b3b3;
    text-decoration: line-through;
}

/* 右边的新书畅销榜 */
#ebook .ebook-right{
    width: 280px;
    height: 442px;
    border: 1px solid #ccc;
}
#ebook .ebook-right h4{
    line-height: 50px;
    color: #808080;
}
#ebook .ebook-right ul li img {
    width: 110px;
    height: 145px;
}
#ebook .ebook-right ul li{
    position: relative;    
    line-height: 40px;
    border-bottom:1px solid #ccc ;
    color: #4d4d4d;
    font-size: 16px;
}
#ebook .ebook-right ul li:last-child{
    border: 0;
}
#ebook .ebook-right ul li div{
   display: none;
}
#ebook .ebook-right ul li .title.curtitle{
    display: none;
}
#ebook .ebook-right ul li div.cur{
    display: block;
}

#ebook .ebook-right ul li span{
    position: absolute;
    left:-14px;
    top: 0px;
}
#ebook .ebook-right ul li .title{
    font-size: 16px;
    color: #4d4d4d;
}

#ebook .ebook-right ul li div p{
  
    line-height: 20px;
    color: #404040;
    padding: 5px;
}

/* 服装 */
#cloth .dress {
    margin-top: 44px;
    border-bottom: 6px solid #ff6600;
}

#cloth .dress ul li {
    width: 100px;
    line-height: 34px;
    cursor: pointer;

}
#cloth .dress ul li.active {
    background-color: #f60;
    color: #fff;
}

/* 左盒子 */

#cloth .leftclothbox {
    width: 240px;
    height: 500px;
    background-color: #eee;
}
#cloth .leftclothbox ul li{
    float: left;
    width: 70px;
    height: 30px;
    padding: 4px;
    line-height: 30px;
}
#cloth .leftclothbox ul li a{
    color: #333;
}

/* 中 */
#cloth .middlecbox {
    width: 430px;
    height: 500px;
}
#cloth .middlecbox ul li img {
    width: 430px;
    height: 160px;
}

/* 右 */
#cloth .rightcbox{
    width: 528px;
    height: 500px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#cloth .rightcbox ul{
    display: none;
}
#cloth .rightcbox li{
    width: 175px;
    height: 340px;
    float: left;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}
#cloth .rightcbox ul.cur{
    display: block;
}
#cloth .rightcbox li img{
    height: 340px;
    width: 175px;
}
#cloth .rightcbox li:nth-child(4){
    height: 160px;
    width: 175px;
}
#cloth .rightcbox li:nth-child(4) img{
    height: 160px;
    width: 175px;

}
#cloth .rightcbox li:nth-child(5){
    height: 160px;
    width: 175px;

}
#cloth .rightcbox li:nth-child(5) img{
    height: 160px;
    width: 175px;

}
#cloth .rightcbox li:nth-child(6){
    height: 160px;
    width: 175px;
    
}
#cloth .rightcbox li:nth-child(6) img{
    height: 160px;
    width: 175px;

}

/* 图标 */
.clotButtom ul{
    width: 100%;
}
.clotButtom ul li{
    width: 133px;
    float: left;
    margin-top: 15px;
}

/* 户外运动 */
#sport .dress {
    margin-top: 44px;
    border-bottom: 6px solid #ff6600;
}

#sport .dress ul li {
    width: 100px;
    line-height: 34px;
    cursor: pointer;

}
#sport .dress ul li.active {
    background-color: #f60;
    color: #fff;
}
/* 左盒子 */

#sport .leftsportbox {
    width: 240px;
    height: 500px;
    background-color: #eee;
}
#sport .leftsportbox img {
    width: 240px;
    height: 350px;
}
#sport .leftsportbox ul li{
    float: left;
    width: 70px;
    height: 30px;
    padding: 4px;
    line-height: 30px;
}
#sport .leftsportbox ul li a{
    color: #333;
}

/* 中 */
#sport .middlecbox {
    width: 430px;
    height: 500px;
}
#sport .middlecbox ul li img {
    width: 430px;
    height: 160px;
}

/* 右 */
#sport .rightcbox{
    width: 528px;
    height: 500px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#sport .rightcbox ul{
    display: none;
}
#sport .rightcbox li{
    width: 175px;
    height: 340px;
    float: left;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}
#sport .rightcbox ul.cur{
    display: block;
}
#sport .rightcbox li img{
    height: 340px;
    width: 175px;
}
#sport .rightcbox li:nth-child(4){
    height: 160px;
    width: 175px;
}
#sport .rightcbox li:nth-child(4) img{
    height: 160px;
    width: 175px;

}
#sport .rightcbox li:nth-child(5){
    height: 160px;
    width: 175px;

}
#sport .rightcbox li:nth-child(5) img{
    height: 160px;
    width: 175px;

}
#sport .rightcbox li:nth-child(6){
    height: 160px;
    width: 175px;
    
}
#sport .rightcbox li:nth-child(6) img{
    height: 160px;
    width: 175px;

}
/* 图标 */
.sportButtom ul{
    width: 100%;
}
.sportButtom ul li{
    width: 120px;
    float: left;
    margin-top: 15px;
}

/* 童装 */
#childcloth .dress {
    margin-top: 44px;
    border-bottom: 6px solid #ff6600;
}

#childcloth .dress ul li {
    width: 100px;
    line-height: 34px;
    cursor: pointer;

}
#childcloth .dress ul li.active {
    background-color: #f60;
    color: #fff;
}
/* 左盒子 */

#childcloth .leftchildbox {
    width: 240px;
    height: 500px;
    background-color: #eee;
}
#childcloth .leftchildbox img {
    width: 240px;
    height: 350px;
}
#childcloth .leftchildbox ul li{
    float: left;
    width: 70px;
    height: 30px;
    padding: 4px;
    line-height: 30px;
}
#childcloth .leftchildbox ul li a{
    color: #333;
}

/* 中 */
#childcloth .middlecbox {
    width: 430px;
    height: 500px;
}
#childcloth .middlecbox ul li img {
    width: 430px;
    height: 160px;
}

/* 右 */
#childcloth .rightcbox{
    width: 528px;
    height: 500px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#childcloth .rightcbox ul{
    display: none;
}
#childcloth .rightcbox li{
    width: 175px;
    height: 340px;
    float: left;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}
#childcloth .rightcbox ul.cur{
    display: block;
}
#childcloth .rightcbox li img{
    height: 340px;
    width: 175px;
}
#childcloth .rightcbox li:nth-child(4){
    height: 160px;
    width: 175px;
}
#childcloth .rightcbox li:nth-child(4) img{
    height: 160px;
    width: 175px;

}
#childcloth .rightcbox li:nth-child(5){
    height: 160px;
    width: 175px;

}
#childcloth .rightcbox li:nth-child(5) img{
    height: 160px;
    width: 175px;

}
#childcloth .rightcbox li:nth-child(6){
    height: 160px;
    width: 175px;
    
}
#childcloth .rightcbox li:nth-child(6) img{
    height: 160px;
    width: 175px;

}
/* 图标 */
.sportButtom ul{
    width: 100%;
}
.sportButtom ul li{
    width: 120px;
    float: left;
    margin-top: 15px;
}

/* 家居日用 */
#house .dress {
    height: 40px;
    margin-top: 44px;
    border-bottom: 6px solid #ff6600;
}
/* 左盒子 */
#house .lefthousebox {
    border: 2px solid #ccc;
    border-top: 0;
}
/* 右盒子 */

#house .righthbox{
    width: 705px;
    height: 500px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#house .righthbox ul{
    display: none;
}
#house .righthbox li{
    width: 175px;
    height: 300px;
    float: left;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
}
#house .righthbox ul.cur{
    display: block;
}
#house .righthbox li img{
    height: 275px;
    width: 175px;
}
#house .righthbox li:nth-child(5){
    height: 160px;
    width: 175px;

}
#house .righthbox li:nth-child(5) img{
    height: 160px;
    width: 175px;

}
#house .righthbox li:nth-child(6){
    height: 160px;
    width: 175px;
    
}
#house .righthbox li:nth-child(6) img{
    height: 160px;
    width: 175px;

}
#house .righthbox li:nth-child(7){
    height: 160px;
    width: 175px;
}
#house .righthbox li:nth-child(7) img{
    height: 160px;
    width: 175px;

}
#house .righthbox li:nth-child(8){
    height: 160px;
    width: 175px;
    
}
#house .righthbox li:nth-child(8) img{
    height: 160px;
    width: 175px;

}
/* 推广商品 */
#Promot {
    width: 100%;
}
#Promot h2 {
    font-size: 28px;
    color: #ff6600;
    border-bottom: 6px solid #ff6600;
    margin-top: 44px;
}
#Promot li {
    width: 150px;
    height: 240px;
    float: left;
    font-size: 14px;
    color: #333;
    padding: 40px;
}

#Promot li img {
    width: 150px;
    height: 150px;
}
#Promot li span {
    font-size: 20px;
    color: #f4290d;
}
#Promot li p {
    color: #747474;
    
}
#Promot li p .icon{
    width: 25px;
    height: 20px;
    background: url(../images/index27_14.jpg) no-repeat;
    vertical-align: middle;
    background-position: -3px -2px;
}

/* 楼层跳转 */
#floorBox{
    width: 40px;
    height: 200px;
    background: #f3f3f3;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    margin-left: -660px;
}
#floorBox li{
    background: rgb(242, 242, 242);
    width: 40px;
    height: 40px;
    background: url(../images/fix_box_icon_160622.png)no-repeat;
    cursor: pointer;
    padding-left: 40px;
    line-height: 40px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    z-index: -10000;
}
#floorBox li:nth-child(2){
    background-position: 0 -80px;
}
#floorBox li:nth-child(3){
    background-position: 0 -160px;
}
#floorBox li:nth-child(4){
    background-position: 0 -200px;
}
#floorBox li:nth-child(5){
    background-position: 0 -320px;
}

/* 顶部搜索框 */
#searchBox{
    height: 50px;
    width: 100%;
    background: orangered;
    position: fixed;
    top: 0;
    display: none;
    z-index: 1000;
}
#searchBox .search-box{
    width: 440px;
    height: 32px;
    border: 2px solid #f60;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#searchBox .user-text {
    width: 390px;
    height: 32px;
    border: none;
    outline: none;
    text-indent: 10px;
}
#searchBox .input-btn {
    width: 50px;
    height: 32px;
    background: #f60 url(../images/bgicon.png)no-repeat;
    border: none;
}
#searchBox>div>img{
    height: 50px;
    margin-left: 50px;
}
/* 回到顶部按钮 */
#goStop{
    position: fixed;
    top: 80%;
    right: 10%;
    transform: rotateY(-50%);
    margin-right: -150px;
    cursor: pointer;
    display: none;
}

/* 页尾 */
#footer .com-title {
    border-bottom: 6px solid #f60;
}
#footer ul li {
    text-align: center;
}
#footer ul li a{
    color: #333333;
}
#footer ul li a h2 {
    font-size: 18px;
}
#footer div:nth-child(2){
    height: 100px;
    background-color: #f2f2f2;
}
#footer div:nth-child(2) ul{
    width: 780px;
    margin: auto;
}
#footer div:nth-child(2) ul li{
    width: 130px;
    float: left;
    margin-right: 65px;
    line-height: 100px;
}
#footer div:nth-child(3) div{
    width: 680px;
    margin: auto;
}
#footer div:nth-child(3) ul{
    width: 680px;
    margin: auto;
    margin-top: 40px;
}
#footer div:nth-child(3) ul li{
    float: left;
    width: 136px;
    line-height: 30px;
}
#footer div>img:last-child{
    margin-top: 40px;
    margin-right: 20px;
}
#footer div:nth-child(4) ul{
    width: 800px;
    margin: auto;
}
#footer div:nth-child(4) ul li{
    float: left;
    margin-left: 15px;
}
#footer>div:nth-child(5) p{
    width: 357px;
    margin: auto;
}
