#header {
    height: 105px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#header .top {
    height: 28px;
    background-color: #101010;
    line-height: 28px;
    text-indent: 5px;
}

#header .top a {
    color: #e6e6e6;
}
#header .top .loginbox {
    color: #bfbfbf;
}
#header .top .loginbox a{
    color:#ff6600;
}
#header .top p {
    line-height: 30px;
    margin: 25px 0 30px 0;
    text-indent: 22px;
}
#header .top .title {
    height: 77px;
}

#header .top .title-dl {
    margin: 45px 30px 15px 0;
}
#header .top .title-dl a{
    color: #666666;
}
/* 内容 */


#content input {
    margin-top: 55px;
    width: 400px;
    height: 44px;
}
#content  p {
    position: relative;
}
#content p b {
    position: absolute;
    top: 68px;
    left: 409px;
    font-size: 22px;
    font-weight: normal;
}
#content p input {
    font-size: 16px;
    text-indent: 130px;
}
input::-webkit-input-placeholder {
    color: #ccc;
}
#content p i {
    position: absolute;
    top: 56px;
    left: 699px;
    background-color: pink;
}
#content p em {
    position: absolute;
    top: 58px;
    left: 676px;
    font-style: normal;
    font-size: 16px;
    width: 123px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #4d4d4d;
    background-color: #e6e6e6;
}
#content p #checkbox {
    position: absolute;
    top: -40px;
    left: 400px;
    z-index: 1000;
}
#content p span {
    position: absolute;
    top: 12px;
    left: 415px;
}
#content p .submit {
    border: 0;
    font-size: 28px;    
}
label {
    position: absolute;
    top: 71px;
    left: 810px;
    color: red;
}
#agree-error {
    position: absolute;
    top: 11px;
    left: 677px;
    color: red;
}
#content #signupForm p {
    position: relative;

}
#content #signupForm p img {
    position: absolute;
    right: 410px;
    top: 68px;
    width: 20px;
    height: 20px;
    display: none;
}

.xian {
    border: 1px solid #ccc;
    margin-top: 50px ;
}
/* 页脚 */
#footer {
    width: 900px;
    margin: auto;
}
#footer ul li {
    text-align: center;
}
#footer ul li a{
    color: #333333;
}
#footer div ul li{
    float: left;
    margin-left: 15px;
}
#footer .copyright {
    width: 357px;
}
