/* 头部 */
#header .top {
    height: 28px;
    background-color: #101010;
    line-height: 28px;
    text-indent: 5px;
}
#header .top a {
    color: #e6e6e6;
}
#header .top .loginbox {
    color: #bfbfbf;
}
#header .top .loginbox a{
    color:#ff6600;
}
/* 搜索框 */
.searchbox {
    width: 440px;
	height: 36px;
    border: solid 2px #ff6600;
    margin-top: 4px;
    margin-left: 498px;
}
.searchbox .btn{
    display: inline-block;
    width: 50px;
    background: url(../images/bgicon.png) no-repeat;
    vertical-align: middle;
}
.text,.btn {
    width: 390px;
    height: 36px;
    border: none;
    float: left;
    outline: none;
    text-indent: 10px;
}
.text {
    line-height: 36px;
}
.btn {
    width: 50px;
	height: 36px;
}

/* 下拉框 */
.selTion{
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-right: 15px;
}
.selTion select{
    width: 170px;
}
.selTion p{
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    margin-top: 2px;
}
/* 购物车 */

#shopcartarea table{
    width: 100%;
    border-collapse: collapse;
}

#shopcartarea table thead tr,
#shopcartarea table tfoot tr{
    line-height: 60px;
    background-color: #f2f2f2;
}

#shopcartarea table tbody img{
    vertical-align: middle;
}
#shopcartarea table tbody tr:first-child {
    width: 1200px;
    height: 60px;
}
#shopcartarea table tbody tr{
    border-top: 6px solid #dfdfdf;
} 
#shopcartarea table tbody td{
    border-bottom: 2px solid #ddd;
    padding: 20px 0;
}
#shopcartarea table tbody td a{
    cursor: pointer;
    user-select: none;
}
#shopcartarea table tbody .reducebtn,
#shopcartarea table tbody .addbtn
{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc; 
    text-align: center;   
    cursor: pointer;
    user-select: none;
}

#shopcartarea table tbody .count{
width: 100px;
height: 30px;
border: 1px solid #ccc;    
text-indent: 10px;
}
#shopcartarea table tbody .singleTotalPrice {
    text-indent: 20px;
}
#shopcartarea table tbody tr:last-child {
    height: 30px;
}
#shopcartarea tfoot {
    border: 1px solid #ccc;
}

#shopcartarea tfoot td:last-child{
    width: 128px;
    height: 60px;
    background: #ff6600;
    line-height: 60px;
    text-align: center;
}
#shopcartarea tfoot td:last-child>a{
    color: #fff;
}
/* 猜你喜欢 */
#sole .lg{
    width: 1200px;
    border-bottom: 6px solid #f60;
}
#sole .lg div{
    width: 124px;
	height: 47px;
	background-color: #ff6600;
    text-align: center;
    line-height: 47px;
    color: #fff;
}

#sole .list .buling img{
    width: 20px;
    height: 18px;
}
#sole .list li{
    margin-top: 10px;
    float: left;
    width: 240px;
    padding-top: 5px;
    height: 260px;
}
#sole .list li>p:first-child{
    text-align: center;
}
#sole .list li:hover{
    background: #ccc;
    position: relative;
    bottom: 5px;
    box-shadow: 15px 15px 10px  rgb(128, 128, 128);
}
/* 页尾 */
#footer .com-title {
    border-bottom: 6px solid #f60;
}
#footer ul li {
    text-align: center;
}
#footer ul li a{
    color: #333333;
}
#footer ul li a h2 {
    font-size: 18px;
}
#footer div:nth-child(2){
    height: 100px;
    background-color: #f2f2f2;
}
#footer div:nth-child(2) ul{
    width: 780px;
    margin: auto;
}
#footer div:nth-child(2) ul li{
    width: 130px;
    float: left;
    margin-right: 65px;
    line-height: 100px;
}
#footer div:nth-child(3) div{
    width: 680px;
    margin: auto;
}
#footer div:nth-child(3) ul{
    width: 680px;
    margin: auto;
    margin-top: 40px;
}
#footer div:nth-child(3) ul li{
    float: left;
    width: 136px;
    line-height: 30px;
}
#footer div>img:last-child{
    margin-top: 40px;
    margin-right: 20px;
}
#footer div:nth-child(4) ul{
    width: 800px;
    margin: auto;
}
#footer div:nth-child(4) ul li{
    float: left;
    margin-left: 15px;
}
#footer>div:nth-child(5) p{
    width: 357px;
    margin: auto;
}